::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 8px;
}

::-webkit-scrollbar-track {
  background: #f0f0f0;
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: #000080;
}